---
layout: base
permalink: /index.html
title: 'Index Maps'
description: 'Maps, data and analysis'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center text-base-light">{{ title }}</h1>
    </div>

    {% svg "divider/waves", null, "seperator" %}
  </header>
  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="specialisms">Specialisms</h2>
      <ul>
        <li><strong>Static maps</strong>: maps for print or screen</li>
        <li><strong>Interactive maps</strong>: explorable maps for complex data or embedding on websites</li>
        <li><strong>Data</strong>: adapting data to your needs</li>
        <li><strong>Automation</strong>: geospatial data pipelines </li>
      </ul>

      <h2 id="skills-and-expertise">Skills & expertise</h2>
      <ul>
        <li>Maps & cartography</li>
        <li>Geographic data management</li>
        <li>GIS software: ArcGIS Pro & QGIS</li>
        <li>Webmapping: MapLibre, Leaflet, OpenLayers</li>
        <li>Spatial data advice, adaptation and automation</li>
        <li>Mapping and data management with Python and R</li>
      </ul>

      <h2 id="projects">Projects</h2>
      <h3 id="communicating-human-rights-abuses">Communicating human rights abuses</h3>
      <p>
        Produced maps for journalism projects on human rights and land rights issues in the Philippines, Congo, Afghanistan, Brazil and Bolivia.
      </p>
      <h3 id="insight-into-camp-expansion-and-services">Insight into camp expansion and services</h3>
      <p>
        Mapping development of camps for displaced people in Syria over time, tracking camp expansion from satellite imagery to inform provision of services to residents.
      </p>
      <h3 id="understanding-needs-of-displaced-people">Understanding needs of displaced people</h3>
      <p>
        Creating maps to illustrate geographic trends in data from surveys of displaced people in Syria living in camps and informal settlements. 
      </p>  
    </div>
  </article>
</div>
